@import '../../../variables.scss';

.forecast {
  margin-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;

  .card {
    cursor: pointer;
    background-color: #fff;
    transition: all .2s ease;
    margin: 0 .5rem;
    padding: 1rem 1.3rem;

    img {
      width: 60px;
      height: 60px;
      margin-bottom: .4rem;
    }

    figcaption,
    p {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: .4rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $c-blue-dark;
    }

    &:hover figcaption,
    &:hover p {
      color: #fff;
    }
  }

}